*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#f4b6b6,#d88989);
}

.card{
    background:#ece6e6;
    padding:40px;
    border-radius:25px;
    text-align:center;
    width:350px;
    max-width:90%;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
    transition:0.5s;
    overflow:hidden;
}

h1{
    color:#d63384;
    margin-bottom:20px;
}

p{
    margin-bottom:20px;
    color:#6c3483;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:25px;
    font-size:16px;
    cursor:pointer;
    margin:10px;
    transition:0.3s;
}

.si{
    background:#ff2e78;
    color:white;
    box-shadow:0 6px 0 #c2185b;
}

.no{
    background:#7f8c8d;
    color:white;
    position:relative;
}

.continuar{
    background:#6c3483;
    color:white;
    box-shadow:0 6px 0 #4a235a;
}

.imagen{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:20px;
    margin:0 auto 20px auto;
    display:block;
}

.hidden{
    display:none;
}
